body{
    background-image: url('http://pixeljoint.com/files/icons/full/citybg2.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

#base-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}
#root {
    display: flex;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}
#button-container {
    height: 8vh;
    display: flex;       
}
#console-container {
    height: 5vh;
    display: flex;
    border: 2px solid rgb(168, 168, 172);
    background-color: rgb(214, 209, 209);
}
.button {
    font-size: larger;
    flex-grow: 1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#console {
    font-size: larger;
    padding-left: 6px;
    padding-left: 2px;
    padding-left: 2px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#console-label {
    border-right: 2px solid rgb(168, 168, 172);
    font-size: larger;        
    padding-right: 6px;
    padding-left: 6px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: rgb(71, 71, 71);
}

#delete{
    background-color: rgb(196, 116, 126);
}

#update{
    background-color: rgb(143, 140, 196);
}

span{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

textarea{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.swal-modal {
    background-color:  rgb(168, 168, 172);
    border: 3px solid rgb(231, 219, 219);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.swal-button--confirm{
    background-color: rgb(143, 140, 196);
}

.swal-button--confirm.swal-button--danger{
    background-color: rgb(167, 48, 61);
    size: 150%;
} 

#a{
    background-color: rgb(179, 58, 72);
    background-color: rgb(72, 67, 172);
}

/* 
.swal-icon--warning > *{
    color: rgb(179, 58, 72);
    /* background-color: rgb(179, 58, 72); 
}

.swal-icon{
    color: rgb(179, 58, 72);
    background-color: rgb(179, 58, 72);
} */
